NODE_ENV=
PORT=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

B2_BUCKET_NAME=
B2_ENDPOINT=
B2_REGION=
B2_ACCESS_KEY=
B2_SECRET_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

RESEND_API_KEY=

FRONTEND_URL=
ENABLE_EMAILS=